{% extends "base.html" %}
{% block content %}
    <header class="hero">
        <h1>My <span class="accent-text">Portfolio</span></h1>
        <p>Click on a category to see details</p>
    </header>

    <section class="grid">
        {% for cat in categories %}
        <a href="{{ url_for('category_page', cat_id=cat.id) }}" class="card-link">
            <div class="card">
                <div class="card-icon"><i class="{{ cat.icon }}"></i></div>
                <h3>{{ cat.title }}</h3>
                <p>{{ cat.desc }}</p>
                <span class="more-btn">See Projects →</span>
            </div>
        </a>
        {% endfor %}
    </section>
{% endblock %}